<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>PCB MAll · Compute</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/pricing.css}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">PCB 商城</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">分 类</a>
        <a class="p-2 text-dark" th:href="@{/compute/view}">计算器</a>
        <a class="p-2 text-dark" href="#">购物车</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" th:href="@{/user/register}">注 册</a>
        <a class="btn btn-outline-primary" th:href="@{/user/login}">登 录</a>
    </nav>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        <svg class="bi bi-box-seam" width="0.8em" height="0.8em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg>
        PCB 计算器
    </h1>
    <p class="lead">你可以通过计算器计算你的PCB价格.</p>
</div>

<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <h5 class="nav-link">产品类型:</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
               aria-controls="pills-home" aria-selected="true">FR-4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
               aria-controls="pills-profile" aria-selected="false">CEM-1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
               aria-controls="pills-contact" aria-selected="false">铝基板</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted"><svg class="bi bi-bag-check" width="0.8em" height="0.8em" viewBox="0 0 16 16"
                                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
  <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
  <path fill-rule="evenodd"
        d="M10.854 7.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 10.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
</svg> 商品信息</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <form class="card p-2">
                <button type="button" class="btn btn-primary">去结算</button>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form class="needs-validation" novalidate="">
                        <div class="form-row form-group">
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">板子数量</div>
                                    </div>
                                    <input type="text" class="form-control" id="" placeholder="0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">单片(pcs)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row  form-group">
                            <div class="col-auto">
                                <small id="HelpInline" class="text-muted">
                                    *尺寸可以精确到2位小数；如与文件尺寸有差异，以文件为准。
                                </small>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">高度/Y</div>
                                    </div>
                                    <input type="text" class="form-control" id="" placeholder="0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">宽度/X</div>
                                    </div>
                                    <input type="text" class="form-control" id="" placeholder="0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">CM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">板子层数:</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>4</option>
                                <option>6</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">出货方式:</label>
                            <select class="form-control" id="">
                                <option>客户单片材料单片出货</option>
                                <option>客户版资料拼版出货</option>
                                <option>其他方式2</option>
                                <option>其他方式3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">板材品牌:</label>
                            <select class="form-control" id="">
                                <option>品牌1</option>
                                <option>品牌2</option>
                                <option>品牌3</option>
                                <option>品牌5</option>
                            </select>
                        </div>
                        <div class="form-row  form-group">
                            <div class="col-auto">
                                <small id="HelpInline" class="text-muted">
                                    *(注：是指文件内不同款的板子个数)
                                </small>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">拼版款数</div>
                                    </div>
                                    <input type="text" class="form-control" id="" placeholder="0">
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="country">FR-4 TG值:</label>
                                <select class="custom-select d-block w-100" id="country" required="">
                                    <option>FR140</option>
                                    <option>TG150</option>
                                    <option>TG170</option>
                                </select>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="country">铜箔厚度(外层)：</label>
                                <select class="custom-select d-block w-100" id="country" required="">>
                                    <option>1oz</option>
                                    <option>2oz</option>
                                </select>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">最小线宽/线距：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>4/4mil</option>
                                    <option>5/5mil</option>
                                    <option>6/6mil</option>
                                    <option>8/8mil</option>
                                    <option>10/10mil</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">最小孔径：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>0.25mm</option>
                                    <option>0.3mm</option>
                                    <option>0.35mm</option>
                                    <option>0.4mm</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="country">板子厚度:</label>
                                <select class="custom-select d-block w-100" id="country" required="">
                                    <option>0.4</option>
                                    <option>0.6</option>
                                    <option>0.8</option>
                                    <option>1.0</option>
                                    <option>1.2</option>
                                    <option selected>1.6</option>
                                    <option>2.0</option>
                                    <option>2.4</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="country">焊接颜色：</label>
                                <select class="custom-select d-block w-100" id="country" required="">
                                    <option>无</option>
                                    <option>绿色</option>
                                    <option>黑色</option>
                                    <option>白色</option>
                                    <option>黄色</option>
                                    <option>红色</option>
                                    <option>蓝色</option>
                                    <option>亚光黑</option>
                                    <option>亚光绿</option>
                                </select>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">字符颜色：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>无</option>
                                    <option>绿色</option>
                                    <option>黑色</option>
                                    <option>白色</option>
                                    <option>黄色</option>
                                    <option>红色</option>
                                    <option>蓝色</option>
                                    <option>亚光黑</option>
                                    <option>亚光绿</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">阻焊覆盖：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>过孔盖油</option>
                                    <option>过孔开窗</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="">焊盘表面处理：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>裸铜</option>
                                    <option>无铅喷锡</option>
                                    <option>沉金</option>
                                    <option>OSP</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label for="">测试方式：</label>
                                <select class="custom-select d-block w-100" id="" required="">
                                    <option>AOI+测试(免费)</option>
                                </select>
                            </div>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">确认生产稿选项</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                       checked=""
                                       required="">
                                <label class="custom-control-label" for="credit">需 要</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required="">
                                <label class="custom-control-label" for="debit">不需要</label>
                            </div>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">CAM高端个性化服务</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                       checked=""
                                       required="">
                                <label class="custom-control-label" for="credit">中级工程师</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required="">
                                <label class="custom-control-label" for="debit">高级工程师</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required="">
                                <label class="custom-control-label" for="debit">资深工程师</label>
                            </div>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">其他特殊选项</h4>
                        <div class="d-block my-3">
                            <small id="HelpInline" class="text-muted">
                                *BGA最小焊盘0.25mm
                            </small>
                            <div class="input-group  col-5 " style="padding-left: 0px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">BGA数量</span>
                                </div>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <span class="input-group-text">个</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <!--                <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" th:href="@{/support/view}">技术支持</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script type="application/javascript" th:src="@{/static/js/bootstrap.js}"></script>
<script type="application/javascript" th:src="@{/static/js/bootstrap.bundle.js}"></script>
</body>
</html>
